<h1 id="about"><strong>How Does It Work?</strong></h1>
<div class="container">
	<h3>Are you tired of how difficult it is to organize yourself when you're trying to find a new job? Well, JobHunt is here to help you organize your next job search. Have you been using paper, post-its, spreadsheets and pencils to track all the activity on your job applications? With JobHunt, you can search for a job you would like, save it to your dashboard, and then make notes related to your job application process.</h3>
</div>  
<div class="container">
	<p>
		<%= image_tag("graphic.png") %>
	</p>
</div>
<div class="container">
<p><%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-lg btn-info" %></p>
</div>
&nbsp

