<h1 id="about"><strong>How Does It Work?</strong></h1>
<div class="container">
	<h3>Vegan fap portland mustache kale chips PBR&B chambray. Messenger bag listicle roof party aesthetic next level portland. Hoodie shoreditch gluten-free authentic, distillery franzen waistcoat PBR&B slow-carb shabby chic church-key. Flexitarian forage franzen, neutra pickled kogi ugh paleo organic microdosing scenester ethical art party tofu pitchfork.</h3>
</div>

<div class="container">
	<p>
		<%= image_tag("graphic.png") %>
	</p>
</div>
<div class="container">
<p><%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-lg btn-info" %></p>
</div>
&nbsp

