<!-- <p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
 -->
<div class="banner">
	<div class="banner-content">
	<h1><strong>JobHunt</strong></h1>
	<h4>Finding a job is a full-time job in itself. Let us help you organize and manage your next job search.</h4>
	<p><%= link_to "Sign Up", new_user_registration_path, class: "btn btn-lg btn-info" %></p>
</div>
</div>
<div class="container">
	<h3>JobHunt is here to help you organize your next job search. Are you using paper or spreadsheets to keep track of all the activity on your job applications? With JobHunt, you simply search for jobs, save them, and take notes. </h3>
</div>

<div class="container">
<div class="row">
	<div class="col-md-4">
		<blockquote>
			<p><i class="fa fa-quote-left fa-3x fa-pull-left fa-border"></i>This is the best job managament app ever!</p>
			<small>Ron Weasley</small>
		</blockquote>
		</div>
		<div class="col-md-4">
		<blockquote>
			<p><i class="fa fa-quote-left fa-3x fa-pull-left fa-border"></i>This app helped me find a job in 3 days!</p>
			<small>Harry Potter</small>
		</blockquote>
		</div>
		<div class="col-md-4">
		<blockquote>
			<p><i class="fa fa-quote-left fa-3x fa-pull-left fa-border"></i>No need to use messy spreadsheets anymore!</p>
			<small>Hermione Granger</small>
		</blockquote>
	</div>
</div>
</div>

<div class="container">
<h1><strong>Are you ready to find a job without all the stress?</strong></h1>
	<h4>Sign up today. Its 100% free!</h4>
	<p><%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-lg btn-info" %></p>
</div>
&nbsp
