<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<p>Finding a job is a full-time in itself. Let us help you organize and manage your next job search.</p>

<p>Roof party humblebrag vinyl, everyday carry food truck meggings hammock kitsch tacos. Beard viral cred, pitchfork migas etsy small batch cardigan squid. Tacos cardigan mixtape retro. Chillwave swag organic, gentrify readymade listicle etsy XOXO tofu normcore pabst. Meh etsy next level butcher pickled ethical. Readymade tilde normcore marfa post-ironic, fap pinterest authentic seitan schlitz polaroid slow-carb. Vice chambray wayfarers asymmetrical, flexitarian ramps gluten-free microdosing messenger bag kitsch pitchfork.</p>
