/*// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/

.banner {
	font-family: 'Ubuntu', sans-serif;
  background: url('/assets/banner.jpg') no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 500px;
}

.banner-content {
	font-family: 'Ubuntu', sans-serif;
	padding-top: 150px;
  text-align: center;
  color: white;
}

#about {
	font-family: 'Ubuntu', sans-serif;
	padding-left: 20px;
}

#about-info {
	font-family: 'Ubuntu', sans-serif;
	padding-left: 20px;
	height: 400px;
}

blockquote {
	font-family: "FontAwesome";
	text-align: left;
}

#note {
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
}

.container {
	padding-top: 5em;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
}
